body {
    /*styling*/
    font-family: literata, serif;
    background: #333333;
    color: white;
    text-align: center;

    /*positioning*/
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%; top: 45%;
}
h1 {
    text-align: center;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}
p {
    font-family: Sora, sans-serif;
}

#colorbox {
    /*styling*/
    background: #FFFFFF;
    width: 50vh; height: 50vh;
    border: solid black 7px;
    border-radius: 2.5px;

    /*positioning*/
    position: relative;
    transform: translate(-50%, 0%);
    left: 50%;
}

#main-form {
    /*positioning*/
    position: relative;
    transform: translate(-50%, 0%);
    left: 50%;

    /*display*/
    display: flex;
    align-items: center;
}
#main-form-div {
    /*display*/
    display: flex;
    width: fit-content;
}
select {
    /*styling*/
    background: white;
    color: black;
    border: solid black 2px;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    transition: all 0.3s ease;

    /*padding and margin*/
    margin: 15px 2px;
    padding: 12px 0px;
}
input {
    /*styling*/
    background: white;
    color: black;
    border: solid black 2px;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    transition: all 0.3s ease;
}
input[type="text"] {
    /*padding and margin*/
    margin: 15px 2px;
    padding: 12px 24px;
}
input[type="number"] {
    /*padding and margin*/
    margin: 10px 2px;
    padding: 12px 12px;

    width: 50px;
    -moz-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input:focus {
  outline: none;
  border-radius: 5px;
  box-shadow: 0 0 0 2.5px #FF000000;
}

#pantone-dropdown-container {
    position: relative;
    width: fit-content;
}

#pantone-list {
    position: absolute;
    background: white;
    border: solid black 2px;
    border-radius: 5px;
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 233px;
    overflow-y: auto;
    width: 100%;
    display: none;
    /*z-index: 10;*/
    font-size: 14px;
}

.pantone-option {
    padding: 10px 12px;
    color: black;
    font-size: 14px;
    cursor: pointer;
    font-family: Sora, sans-serif;
}

.pantone-option:hover {
    background-color: lightgray;
}

button {
    /*styling*/
    background: white;
    color: black;
    border: solid black 2px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: all 0.3s ease;

    /*padding and margin*/
    margin: 15px 2px;
    padding: 12px 24px;
}
button:hover {
    background: darkgray;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

#response-container {
    /*color and visibility*/
    background-color: transparent;
    visibility: hidden;

    /*positioning*/
    position: relative;
    transform: translate(-50%, 0%);
    left: 50%;
    height: 80px;

    /*layout*/
    display: flex;
    align-items: center;
    justify-content: center;
}
#response-div {
    /*styling*/
    border-radius: 10px;
    width: fit-content; height: fit-content;
    backdrop-filter: blur(10px);
    text-align: center;

    /*layout*/
    position: static;
    transform: none;
}
#response {
    /*styling*/
    color: white;
    font-family: "Sora", sans-serif;
    padding: 5px 10px 5px 10px;
}